body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  #search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  #search-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: none;
  }

  #search-button {
    padding: 10px;
    font-size: 16px;
    background-color: #f6a34a;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  #search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  #search-results img {
    margin: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid 1px #ddd;
    border-radius: 5px;
  }